<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <!--<nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
      </ol>
      <h6 class="font-weight-bolder mb-0">Dashboard</h6>
    </nav>-->
    
    <div class="dropdown">
      <a href="javascript:;" class="nav-link text-body p-0 dropdown-toggle" target="_blank" data-bs-toggle="dropdown" aria-expanded="false">Developer
        <i class="fa fa-code fixed-plugin-button-nav cursor-pointer"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="https://auth0.com/docs/libraries" target="_blank">SDKs</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/api" target="_blank">APIs</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/troubleshoot/customer-support/operational-policies/rate-limit-policy/authentication-api-endpoint-rate-limits" target="_blank">Authentication API Rate Limits</a></li>  
        <li><a class="dropdown-item" href="https://auth0.com/docs/quickstarts" target="_blank">Quickstarts</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/identity-labs" target="_blank">Identity Labs</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/troubleshoot" target="_blank">Troubleshooting</a></li>
      </ul>
    </div>
    <div style="padding-right: 10px">&nbsp;</div>
    <div class="dropdown">
      <a href="javascript:;" class="nav-link text-body p-0 dropdown-toggle" target="_blank" data-bs-toggle="dropdown" aria-expanded="false">Authentication
        <i class="fa fa-id-card fixed-plugin-button-nav cursor-pointer"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="https://auth0.com/docs/authenticate/login" target="_blank">Login</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/authenticate/single-sign-on" target="_blank">SSO</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/authenticate/passwordless" target="_blank">Passwordless</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/authenticate/identity-providers" target="_blank">Identity Providers</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/authenticate/database-connections" target="_blank">Database Connections</a></li>
      </ul>
    </div>
    <div style="padding-right: 10px">&nbsp;</div>
    <div class="dropdown">
      <a href="javascript:;" class="nav-link text-body p-0 dropdown-toggle" target="_blank" data-bs-toggle="dropdown" aria-expanded="false">User
        <i class="fa fa-user fixed-plugin-button-nav cursor-pointer"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="https://auth0.com/docs/manage-users/user-accounts" target="_blank">User Accounts</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/manage-users/user-migration" target="_blank">User Migration</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/manage-users/user-search" target="_blank">User Search</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/manage-users/organizations" target="_blank">Organizations</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/manage-users/access-control" target="_blank">Access Control</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/manage-users/sessions" target="_blank">Sessions</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/manage-users/cookies" target="_blank">Cookies</a></li>
      </ul>
    </div>
    <div style="padding-right: 10px">&nbsp;</div>
    <div class="dropdown">
      <a href="javascript:;" class="nav-link text-body p-0 dropdown-toggle" target="_blank" data-bs-toggle="dropdown" aria-expanded="false">Security
        <i class="fa fa-shield fixed-plugin-button-nav cursor-pointer"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="https://auth0.com/docs/secure/attack-protection" target="_blank">Attack Protection</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/secure/multi-factor-authentication" target="_blank">MFA</a></li>
        <li><a class="dropdown-item" href="https://auth0.com/docs/secure/data-privacy-and-compliance" target="_blank">Data Privacy and Compliance</a></li>
      </ul>
    </div>
    <div style="padding-right: 10px">&nbsp;</div>
    <div class="dropdown">
      <a href="javascript:;" class="nav-link text-body p-0 dropdown-toggle" target="_blank" data-bs-toggle="dropdown" aria-expanded="false">BETA
        <i class="fa fa-code fixed-plugin-button-nav cursor-pointer"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">        
        <li><a class="dropdown-item" href="https://flows.auth0.com" target="_blank">Flows</a></li>
        <li><a class="dropdown-item" href="https://play.fga.dev/sandbox/?store=entitlements" target="_blank">Fine Grained Authorization</a></li>
      </ul>
    </div>
    <div style="padding-right: 10px">&nbsp;</div>
    <div>
      <a href="https://docs.google.com/presentation/d/1fuXfHFwhX3Qj4LW9WUWNHnt09QbAQwH93ldNJhgFbpk/edit#slide=id.g11289c81ccf_0_4133" class="nav-link text-body p-0" target="_blank">Roadmap
        <i class="fa fa-road fixed-plugin-button-nav cursor-pointer"></i>
      </a>
    </div>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <!--<div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group">
          <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="Type here...">
        </div>
      </div>-->
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">&nbsp;</div>
      <ul class="navbar-nav  justify-content-end">
        <% if (locals.isAuthenticated) { %>
      <li class="nav-item px-3 d-flex align-items-center">
        <a href="https://jwt.io?token=<%=accessToken%>" class="nav-link text-body p-0" target="_blank">jwt.io
          <i class="fa fa-ticket fixed-plugin-button-nav cursor-pointer"></i>
        </a>
      </li>
      <% } else { %>
        <li class="nav-item px-3 d-flex align-items-center">
          <a href="https://jwt.io" class="nav-link text-body p-0" target="_blank">jwt.io
            <i class="fa fa-ticket fixed-plugin-button-nav cursor-pointer"></i>
          </a>
        </li>
        <% } %> 
      <!--<li class="nav-item px-3 d-flex align-items-center">
        <a href="https://explorer.auth0.com/" class="nav-link text-body p-0" target="_blank">explorer.auth0.com
          <i class="fa fa-compass fixed-plugin-button-nav cursor-pointer"></i>
        </a>
      </li>
      <li class="nav-item px-3 d-flex align-items-center">
        <a href="https://manage.auth0.com/" class="nav-link text-body p-0" target="_blank">manage.auth0.com
          <i class="fa fa-compass fixed-plugin-button-nav cursor-pointer"></i>
        </a>
      </li>-->
      <li class="nav-item px-3 d-flex align-items-center">
        <div class="dropdown">
          <a href="javascript:;" class="nav-link text-body p-0 dropdown-toggle" target="_blank" data-bs-toggle="dropdown" aria-expanded="false">Auth0
            <i class="fa fa-code fixed-plugin-button-nav cursor-pointer"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">        
            <li><a class="dropdown-item" href="https://explorer.auth0.com/" target="_blank">explorer.auth0.com</a></li>
            <li><a class="dropdown-item" href="https://manage.auth0.com/" target="_blank">manage.auth0.com</a></li>
            <li><a class="dropdown-item" href="https://status.auth0.com/" target="_blank">status.auth0.com</a></li>
          </ul>
        </div>
      </li>
      <!--<li class="nav-item px-3 d-flex align-items-center">
        <a href="https://status.auth0.com/" class="nav-link text-body p-0" target="_blank">status.auth0.com
          <i class="fa fa-signal fixed-plugin-button-nav cursor-pointer"></i>
        </a>
      </li>-->
      <li class="nav-item px-3 d-flex align-items-center">
        <% if (locals.isAuthenticated) { %>
        <div class="dropdown">
          <a href="javascript:;" class="btn bg-gradient-dark dropdown-toggle " data-bs-toggle="dropdown" id="navbarDropdownMenuLink2">
            <% if (user.picture) { %>
              <img src="<%= user.picture %>" alt="profile" style="width:25px;height:25px;margin-right:3px">
            <% } else { %>
            <img src="/assets/img/genericuser.jpeg" alt="profile" style="width:25px;height:25px;margin-right:3px">
            <% } %> 
            <%= user.name %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
              <li>
                  <a class="dropdown-item" href="https://account.atko.email?mailbox=<%= user.email %>">
                    <i class="fa fa-at fixed-plugin-button-nav cursor-pointer"></i> Email
                  </a>
              </li>
              <li>
                  <a class="dropdown-item" href="/profile">
                    <i class="fa fa-user fixed-plugin-button-nav cursor-pointer"></i> Profile
                  </a>
              </li>
              <li>
                  <a class="dropdown-item" href="/logout">
                    <i class="fa fa-compass fixed-plugin-button-nav cursor-pointer"></i> Sign Out
                  </a>
              </li>
          </ul>
        </div>
        <% } else { %>
          <!--<a class="nav-link text-body p-0" href="https://account.atko.email" target="_blank">atko.email
            <i class="fa fa-envelope fixed-plugin-button-nav cursor-pointer"></i>
          </a>
          <span style="margin-right: 20px"></span>
          <a class="nav-link text-body p-0" href="https://account.atko.email" target="_blank">Mailtrap
            <i class="fa fa-envelope fixed-plugin-button-nav cursor-pointer"></i>
          </a>-->
          <div class="dropdown">
            <a href="javascript:;" class="nav-link text-body p-0 dropdown-toggle" target="_blank" data-bs-toggle="dropdown" aria-expanded="false">Email
              <i class="fa fa-envelope fixed-plugin-button-nav cursor-pointer"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="https://account.atko.email">Atko.email</a></li>
              <li><a class="dropdown-item" href="https://mailtrap.io/">Mailtrap</a></li>
            </ul>
          </div>
          <ul>
            <li class="nav-item d-flex align-items-center">
              <a href="/login" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Sign In</span>
              </a>
            </li>
          </ul>
        <% } %>
      </li>
      <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </a>
      </li>
      <ul>
      
    </div>
  </div>
</nav>