<script src="/assets/vendors/sweetalert/sweetalert.min.js"></script>
<script src="/assets/js/alerts.js"></script>
<div class="swal-overlay" tabindex="-1">
  <div class="swal-modal" role="dialog" aria-modal="true">
      <div class="swal-content">
        <input class="swal-content__input" placeholder="Type your password" type="password"></div>
        <div class="swal-footer">
            <div class="swal-button-container">
                <button class="swal-button swal-button--confirm btn btn-primary">OK</button>
                <div class="swal-button__loader">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>