<script src="/assets/js/jwt-decode.js"></script>
<div class="row mt-4" style="display: none;" id="tokens">
<div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Returned Tokens</h4>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Access token</h4>
                        <textarea id="accesstoken" class="darktextarea" rows="30" style="width: 100%"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Id token</h4>
                        <textarea id="idtoken" class="darktextarea" rows="30" style="width: 100%"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
