<div class="row mt-4" style="display: none;" id="userinfo">
<div class="col-12 ">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">User Info (/userinfo endpoint)</h4>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">User Info</h4>
                        <textarea id="user" class="darktextarea" rows="30" style="width: 100%"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
